.about{
    background: $white url('../images/about-bg.jpg') left top no-repeat;

    &__inner{
        padding: $padding-about;
        display: flex;
        justify-content: flex-end;
        min-height: 44rem;
    }

    &__content{
        flex-basis: 50%;
        padding: 0 4rem 0 7rem;
    }

    &-title{
        margin-bottom: 2rem;
    }

    &__text{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.8;
        p{
            margin-bottom: 1.2rem;
        }
    }
}
