.advantages{
    background:$white;
    height: 50rem;
    margin: $padding-advantages;
    &-title{
        text-align: center;
        margin-bottom: 4rem;
    }

    &__btns-group{
        display: flex;
        justify-content: center;
        margin-bottom: 8rem;

        button{
            font-size: 2rem;
            text-decoration: none;
        }
        button:last-child{
            margin-left: -2rem;
        }
    }
    &__inner{
        height: 100%;
        min-height: 46rem;
        position: relative;
        overflow: hidden;
    }

    .tab__inner{
        height: 25rem;
        overflow: hidden;
        display: flex;
        position: relative;
    }
    .tab-content{
        gap: 4.3rem;
        display: flex;
        justify-content: flex-start;
        opacity: 0;
        position: absolute;

        @include transition-two(left,opacity);
    }

    .tab-item{
        width: 24.8rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__image{
            display: block;
            max-width: 6.4rem;
            height: 5.2rem;
            margin-bottom: 4rem;
        }
        &__title{
            margin-bottom: 1.6rem;

            font-size: 2.8rem;
            line-height: 3.3rem;
            font-weight: 700;
        }

        &__text{
            width: 100%;
            padding: 0 1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.8;
        }

    }
}
