.btn{
    padding: .6em 1em;
    font-weight: 600;

    font-size: $fz-l;
    background: $gold;
    border: 0;
    border-radius: 2em;
    color: $black;

    &--active{
        background: $black;
        color: $white;

        z-index: 200;
    }

    &--sm{
        padding: .63em 1.25em;
        font-size: $fz-xs;
    }

    &--md{
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        font-size: $fz-md;
    }


    @include transition-two(background,color);
    &:hover{
        background: $black;
        color: $white;
    }
}
