.footer{
    flex: 0 0 auto;
    background: $black;
    color: $white;

    &__inner{
        padding: $padding-footer;
    }
    &__copy{
        text-align: right;
        font-size: 1.2rem;
    }
}
