.intro{
    background: url('../images/intro-bg.jpg') 50% 50% no-repeat ;
    background-size: cover;
    position: relative;
    &__inner{
        padding: $padding-intro;
        display: flex;
    }

    &__content{
        flex-basis: 50%;
        &-title{
            margin-bottom: 6.2rem;

            color: $white;
            font-weight: 700;
            font-size: $fz-xxl;
            letter-spacing: .02em;
        }
    }

    .socials{
        padding: 1.8rem 1.3rem 1.8rem 1.8rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        position: fixed;
        top: 12.3rem;
        right: 0;

        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(8px);
        border-radius: 2.5rem 0 0 2.5rem;

        &__link{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 2.4rem;
            height: 2.4rem;

            path{
                @include transition(opacity);
            }

            &:hover{
                path{
                    opacity: 0.6;
                }
            }
        }

    }
}
