.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2.612rem 0;
  a {
    color: inherit;
    text-decoration: none;

    @include transition(color);
    &:hover {
      color: $gold;
    }
  }
  &__logo {
    position: absolute;
    left: 0;
    &-link {
        path{
            @include transition-two(fill,stroke);
        }
      &:hover path {
        fill: $white;
        stroke: $white;
      }

      @for $i from 1 through 8 {
        &:hover path:nth-child(#{$i}) {
            fill: $gold;
            stroke: $gold;
        }
      }
    }
  }
  &__link-tel {
    padding-left: 13.8rem;

    font-weight: 500;
    font-size: $fz-md;
  }

  &__nav {
    display: flex;
    gap: 1.6rem;
    font-weight: 500;
  }
}
