.reviews{
    &__inner{
        padding: $padding-reviews;
    }

    &-title{
        text-align: center;
    }

    &-btn{
        display: block;
        margin: 0 auto;
    }

    &__video,.slick-slider{
        padding: 4rem 0 4rem 2rem;

        &-item,.slick-slide{
            .plyr{
                --plyr-color-main: #facd0485;

                &__controls{
                    display: none;
                }

                &__control--overlaid{
                    padding: 2rem 2.2rem;

                    svg{
                        width: 3.5rem;
                        height: 4rem;
                    }
                }
            }

            display: block;
            width: 34.5rem;
            height: 22.7rem;
            margin: 0 2rem;
            position: relative;
            .video-js{
                width: 100%;
                height: 100%;
            }
        }

        .slick-dots{
            margin-top: 4rem;
            display: flex;
            gap: 1.6rem;
            justify-content: center;
            font-size: 0;

            li{
                width: 1.2rem;
                height: 1.2rem;
                button{
                    width: 100%;
                    height: 100%;
                    background: none;
                    background-color: $white-20;
                    border: 0;
                    border-radius: 100%;
                }
            }
            .slick-active{
                button{
                    background-color: $black;
                }
            }
        }

    }
}
