.services{
    background: $white;
    &-title{
        text-align: center;
        margin-bottom: 4rem;
    }
    &__inner{
        padding: $padding-services;
    }

    &__cards{
        display: flex;
        gap: 4rem;
        justify-content: center;
    }

    &__item{
        width: 24rem;
        padding: 4rem 3.2rem;
        background-color: $white-50;
        border-radius: 1.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        letter-spacing: 0.02em;
        font-weight: 700;

        &--not-price{

        }

        &-title{
            margin-bottom: 2.7rem;

            &--fz-md{
                font-size: 2.8rem;
                margin-top: 3.2rem;
                margin-bottom: 5rem;
            }
        }

        &-price{
            font-size: $fz-xl;
            margin-bottom: 4.1rem;
            &:before{
                content: "от";
                font-weight: 400;
                font-size: $fz-xs;
            }
        }

        &-btn{
            font-size: $fz-xs;
            margin-bottom: 2rem;
        }
    }
}
