@import "./vars.scss";
@import "./mixins.scss";
@import "./vendor/reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
    font-size: 10px;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    min-height: 100%;
    width: 144rem;
    margin: 0 auto;

    font-family: $ff-roboto;
    font-size: 1.6rem;
    line-height: $lh;
    color: $black;
}
.content{
    flex: 1 0 auto;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    width: 124rem;
    margin: 0 auto;
}

.ta-c{
    text-align: center;
}
.ta-r{
    text-align: right;
}
.jc-c{
    display: flex;
    justify-content: center;
}

.title{
    font-size:$fz-xl;
    font-weight: 700;
}
.active{
        background: $black;
        color: $white;
}
@import "block/menu.scss";
@import "block/header.scss";
@import "block/services.scss";
@import "block/intro.scss";
@import "block/btn.scss";
@import "block/about.scss";
@import "block/advantages.scss";
@import "block/reviews.scss";
@import "block/gallery.scss";
@import "block/footer.scss";
