// main: style.scss
// ==== COLORS =====

$black: #000000;
$black-50: #121212;
$white-20: #EFF2F6;
$white-50: #F1F1F1;
$white: #ffffff;

$gold:#FACC04; //gold



// ==== COLORS END =====


// ==== FONTS =====

$ff-roboto: 'Roboto', sans-serif;

// ==== FONTS END =====


// ==== FONTS SIZE =====

$fz-xs: 1.6rem;
$fz-s: 1.8rem;
$fz-md: 2rem;
$fz-l: 2.4rem;
$fz-xl: 4rem;
$fz-xxl: 4.8rem;

$lh:1.1;

// ==== FONTS SIZE END=====


// ==== PADDING =====

$padding-header:2.6rem 0;
$padding-intro: 12rem 6rem 16rem;
$padding-services: 14rem 0 16rem;
$padding-about: 0 0 16rem;
$padding-reviews: 0 0 15.3rem;
$padding-advantages:0 0 16rem;
$padding-footer:0 0 2.4rem 0;

// ==== PADDING END ====
