---
layout: default
title: JustACar
---

<!-- Intro block -->
<section class="intro">
  <div class="container intro__inner">
    <div class="intro__content">
      <h2 class="intro__content-title">Авто из США Автоподбор в Украине</h2>
      <button class="btn">Оставить заявку</button>
    </div>
  </div>
  <ul class="socials">
      <li class="socials__link"><a href="#">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.947 6.30496C18.9369 5.54758 18.7951 4.79773 18.528 4.08896C18.2964 3.49111 17.9425 2.94816 17.4892 2.49479C17.0358 2.04142 16.4929 1.68761 15.895 1.45596C15.1953 1.19331 14.4562 1.0513 13.709 1.03596C12.747 0.992957 12.442 0.980957 10 0.980957C7.55801 0.980957 7.24501 0.980957 6.29001 1.03596C5.54317 1.05141 4.80436 1.19343 4.10501 1.45596C3.50707 1.68745 2.96403 2.0412 2.51064 2.49459C2.05725 2.94798 1.7035 3.49102 1.47201 4.08896C1.20884 4.78809 1.06713 5.52707 1.05301 6.27396C1.01001 7.23696 0.997009 7.54196 0.997009 9.98396C0.997009 12.426 0.997009 12.738 1.05301 13.694C1.06801 14.442 1.20901 15.18 1.47201 15.881C1.70389 16.4787 2.05791 17.0215 2.51145 17.4747C2.96499 17.9279 3.50807 18.2815 4.10601 18.513C4.80344 18.7862 5.54238 18.9383 6.29101 18.963C7.25401 19.006 7.55901 19.019 10.001 19.019C12.443 19.019 12.756 19.019 13.711 18.963C14.4582 18.9482 15.1974 18.8066 15.897 18.544C16.4947 18.312 17.0375 17.9581 17.4909 17.5048C17.9442 17.0515 18.2981 16.5086 18.53 15.911C18.793 15.211 18.934 14.473 18.949 13.724C18.992 12.762 19.005 12.457 19.005 10.014C19.003 7.57196 19.003 7.26196 18.947 6.30496ZM9.99401 14.602C7.44001 14.602 5.37101 12.533 5.37101 9.97896C5.37101 7.42496 7.44001 5.35596 9.99401 5.35596C11.2201 5.35596 12.396 5.84302 13.263 6.71C14.1299 7.57698 14.617 8.75286 14.617 9.97896C14.617 11.2051 14.1299 12.3809 13.263 13.2479C12.396 14.1149 11.2201 14.602 9.99401 14.602ZM14.801 6.26296C14.204 6.26296 13.723 5.78096 13.723 5.18496C13.723 5.04346 13.7509 4.90334 13.805 4.77262C13.8592 4.64189 13.9385 4.5231 14.0386 4.42305C14.1387 4.32299 14.2574 4.24363 14.3882 4.18948C14.5189 4.13533 14.659 4.10746 14.8005 4.10746C14.942 4.10746 15.0821 4.13533 15.2129 4.18948C15.3436 4.24363 15.4624 4.32299 15.5624 4.42305C15.6625 4.5231 15.7418 4.64189 15.796 4.77262C15.8501 4.90334 15.878 5.04346 15.878 5.18496C15.878 5.78096 15.396 6.26296 14.801 6.26296Z" fill="#000"/>
            <path d="M9.99403 12.982C11.6525 12.982 12.997 11.6375 12.997 9.97895C12.997 8.32044 11.6525 6.97595 9.99403 6.97595C8.33552 6.97595 6.99103 8.32044 6.99103 9.97895C6.99103 11.6375 8.33552 12.982 9.99403 12.982Z" fill="#000"/>
            </svg>

      </a></li>
      <li class="socials__link"><a href="#">
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.39697 17.997V9.80105H9.16197L9.57297 6.59205H6.39697V4.54805C6.39697 3.62205 6.65497 2.98805 7.98397 2.98805H9.66797V0.127047C8.84861 0.0392382 8.02502 -0.00316009 7.20097 4.70959e-05C4.75697 4.70959e-05 3.07897 1.49205 3.07897 4.23105V6.58605H0.33197V9.79505H3.08497V17.997H6.39697Z" fill="#000"/>
            </svg>

      </a></li>
      <li class="socials__link"><a href="#">
        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5825 2.15935C19.4663 1.74335 19.2449 1.36445 18.9396 1.05933C18.6344 0.754207 18.2556 0.533209 17.8401 0.417734C16.2802 1.99704e-05 10.0095 2.00714e-05 10.0095 2.00714e-05C10.0095 2.00714e-05 3.75073 -0.0100002 2.17462 0.417734C1.75974 0.533716 1.38175 0.754946 1.07717 1.06004C0.772597 1.36513 0.551744 1.74377 0.435958 2.15935C0.139742 3.75895 -0.00614963 5.38284 0.00019855 7.00972C-0.00269177 8.62877 0.143176 10.2446 0.435958 11.8369C0.552118 12.2527 0.773037 12.6316 1.07751 12.9373C1.38197 13.2429 1.75977 13.465 2.17462 13.5823C3.73447 14 10.0095 14 10.0095 14C10.0095 14 16.2646 14 17.8401 13.5823C18.2556 13.4655 18.6341 13.2437 18.9393 12.938C19.2444 12.6323 19.4659 12.2531 19.5825 11.8369C19.8694 10.2456 20.0095 8.62734 19.9995 7.00972C20.0095 5.38145 19.8726 3.76069 19.5825 2.15935ZM8.00642 10.0076V3.99867L13.2261 7.00972L8.00642 10.0076Z" fill="#000"/>
            </svg>

      </a></li>
  </ul>
</section>
<!--/.Intro-->

<!-- Services block -->
<div class="services">
  <div class="container services__inner">
    <h2 class="services-title title">Наши услуги</h2>

    <div class="services__cards">
      <article class="services__item">
        <h3 class="services__item-title">Авто из <br />США</h3>
        <div class="services__item-price">$199</div>
        <button class="services__item-btn btn btn--sm">Подробнее</button>
      </article>

      <article class="services__item">
        <h3 class="services__item-title">Автоподбор<br />в Украине</h3>
        <div class="services__item-price">$299</div>
        <button class="services__item-btn btn btn--sm">Подробнее</button>
      </article>

      <article class="services__item">
        <h3 class="services__item-title services__item-title--fz-md">
          Другие услуги
        </h3>
        <button class="services__item-btn btn btn--sm">Подробнее</button>
      </article>
    </div>
  </div>
</div>
<!-- /.Services -->

<!--  Advantages block -->
<section class="advantages">
  <div class="container advantages__inner">
    <h2 class="advantages-title title">Почему покупают с нами?</h2>

    <div class="advantages__btns-group">
      <button class="btn btn--md " onclick="tab(event, 'usa')">
        Авто из США
      </button>
      <button class="btn btn--md " onclick="tab(event, 'ua')"  id="defaultOpen">
        Авто из Украины
      </button>

    </div>

    <div class="tab__inner">
      <div class="tab-content" id="ua">
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-1.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Забота <br>о клиенте</h3>
            <div class="tab-item__text">Индивидуальный подход к каждому клиенту 24/7</div>
        </div>
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-2.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Честность</h3>
            <div class="tab-item__text">Не навязываем <br>покупку</div>
        </div>
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-3.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Время</h3>
            <div class="tab-item__text">Делаем всю работу <br>за вас</div>
        </div>
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-4.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Экспертность</h3>
            <div class="tab-item__text">Безопасная покупка <br>б/у авто</div>
        </div>
      </div>

      <div class="tab-content" id="usa">
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-1.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Care about the client </h3>
            <div class="tab-item__text">Individual approach to each client 24/7</div>
        </div>
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-2.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Honesty</h3>
            <div class="tab-item__text">We do not impose a purchase</div>
        </div>
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-3.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Time</h3>
            <div class="tab-item__text"> We do all the work for you</div>
        </div>
        <div class="tab-item ta-c">
            <img src="assets/images/advantages-4.svg" alt="" class="tab-item__image">
            <h3 class="tab-item__title">Expertise</h3>
            <div class="tab-item__text">Safe purchase of used cars</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.Advantages  -->

<!-- About -->
<section class="about">
  <div class="container about__inner">
    <div class="about__content">
        <h2 class="about-title title">Кто мы?</h2>
        <div class="about__text">
            <p>Оказываем премиальное качество услуг для всех клиентов.</p>
            <p>С 2013 года компания JustAcar доставляет автомобили из США, Европы, ОАЭ "под ключ" от подбора авто до таможенной очистки, сертификации ЕВРО 5 и постановки на учет в Полиции Украины, получая до 50% выгоды для наших клиентов.</p>
            <p>Опыт работы сорудников 7-10 лет в сфере автосервиса. В отделе подбора работают специалисты, которые имеют техническое образование и владеют английским языком, что помогает выбирать и выкупать лучшие авто</p>
        </div>
    </div>
  </div>
</section>
<!-- /.About -->

<!-- Reviews block -->
<section class="reviews">
  <div class="container reviews__inner">
    <h2 class="reviews-title title">Видео-отзывы</h2>

    <ul class="reviews__video slick-slider">
        <li class="reviews__video-item">
            <video class="player" controls crossorigi>
                <source src="assets/images/reviews-02.mp4" type="video/mp4">
            </video>
        </li>
         <li class="reviews__video-item">
            <video class="player" controls crossorigi>
                <source src="assets/images/reviews-01.mp4" type="video/mp4">
            </video>
        </li>
        <li class="reviews__video-item">
            <video class="player" controls crossorigi>
                <source src="assets/images/reviews-03.mp4" type="video/mp4">
            </video>
        </li>

        <li class="reviews__video-item">
            <video class="player" controls crossorigi>
                <source src="assets/images/reviews-02.mp4" type="video/mp4">
            </video>
        </li>
         <li class="reviews__video-item">
            <video class="player" controls crossorigi>
                <source src="assets/images/reviews-01.mp4" type="video/mp4">
            </video>
        </li>
        <li class="reviews__video-item">
            <video class="player" controls crossorigi>
                <source src="assets/images/reviews-03.mp4" type="video/mp4">
            </video>
        </li>
    </ul>

    <button class="btn reviews-btn">Оставить заявку</button>

  </div>
</section>
<!-- /.Reviews -->

<!-- Gallery block -->
<div class="gallery">
  <img src="assets/images/gallery/gallery.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-2.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-3.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-4.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-5.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-6.jpg" alt="" class="gallery__image" />
</div>
<!-- /.Gallery -->
