<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    <main class="content">
        {{> body }}
    </main>

    {{> footer }}





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <script src="assets/js/tab.js"></script>

</body>
</html>
